.topbar {
  height: 55px;
  background-color: #5D5FEF;
}

.topbar-inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.topbar-logo {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
}
